/*Función: Documento css que añade estilo al código html (EntregaET1.html).
Autor: nc91xe
Fecha: 04/10/2018 */

/**RUEDA CROMATICA UTILIZADA:
#6B0DFF
#250CE8
#0027FF
#0C67E8
#0DB1FF
#FFFFFF
*/


body{
  font-family: Helvetica;
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
  background-color:#0DB1FF;
}
#cabecera{
  background-color: #250CE8;
  margin: 0;
  font-size: 100%;
  padding-right: 2%;
}
#title{
  font-size: 30px;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  margin-top: inherit;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 2%;
}

.icon-white{
  color: white;
}
.icon_24{
  font-size: 24px;
}

.icon_30{
  font-size: 30px;
}

.id_user{
  color: white;

}

.bar{
  text-align: right;
  background-color: #250CE8;
  width: 100%;
  padding-top: 5px;
  display: block;
}

.bar a{
  text-decoration: none;
  margin: 5px;
}

#inicio{
  padding-left: 2%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #250CE8;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #0027FF;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu{
  border-bottom: solid 2px;
  border-color: white;
}

h1{
  text-align: center;
}
.container{
  margin-left: 20%;
  margin-right: 20%;
  background-color:;
  padding-left: 3%;
  padding-right: 3%;
}

#img-wifi{
  float: left;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
p.clear{

  clear:left;
}
p{
  padding-top: 10px;
}

/*Sirve para alinear el boton de saber más a la derecha*/
.buton_more{
  text-align: right;
}

/*sirve para el diseño del boton saber más*/
.saber_mas{
  text-decoration: none;
  background-color: #6B0DFF;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

/*Lo que hace la siguiente linea es poner un espacio
entre la zona de texto y los forms*/
.text-zone{
  padding-bottom: 2em;
}
legend{
  font-size: 24px;
}
fieldset{
  border: none;
}
input, select{
  padding: 8px;
  border: none;
  border-bottom: 2px solid #6B0DFF;
  background-color: white;
}

form{
  font-size: 14px;
  color: #6B0DFF;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 4px solid #6B0DFF;
  border-radius: 8px;
  margin-top: 5em;
  box-sizing: border-box;
  min-width: 450px;
}

form label{
  display: block;
  margin-top: 12px;
}
form input[type=image]{
  border: none;
  margin-top: 2em;
  margin-left: 50%;
  margin-right: 50%;
}
form input[type=date]:focus{

}

/*diseño de iconos superior tabla showall*/
.iconos_tabla_sup{
  margin-top: 7em;
  margin-left: 19%;
  margin-bottom: 2%;
}
.iconos_tabla_sup a{
  text-decoration: none;
  margin: 10px;
}

/*Diseño de tablas*/
.tabcudel, .showall{
  margin-left: auto;
  margin-right: auto;
}

.tabcudel, .showall, .tabcudel th, .showall th, .tabcudel td, .showall td{
  border: 2px solid #6B0DFF;
  border-collapse: collapse;
  padding: 4px;
  background-color: white;
}

.tabcudel th, .showall th{
  background-color:#6B0DFF;
  color: white;

}
.showall{
  margin-bottom: 4%;
}

.iconos_tabla a{
  text-decoration: none;
  padding: 8px;
}

.tabcudel{
  margin-left: 21%;
  text-align: left;
  margin-bottom: 1%;
}

/*Diseño de iconos inferior tabla*/
.iconos_tabla_inf{
  margin-left: 21%;
  margin-bottom: 4%;
}

/*Diseño de footer*/
footer{
  text-align: center;
  background-color: #250CE8;
  width: 100%;
  color: white;
  font-size: 1.5em;
  font-family: Helvetica;
  margin: 0;
}
#footer{
  margin: 0;
  padding: 0.5%;
}

/*texto del calendario*/
#datepicker th{
  background-color: red;
}
