body{
  font-family: Helvetica;
}
#cabecera{
  text-align: left;
  background-color: #9213B2;
  margin: 0;
  font-size: 100%;
  display: block;
  padding-left: 2em;

}

.bar{
  text-align: right;
  background-color: #9213B2;
  width: 100%;
  padding-top: 5px;
  display: block;

}

.bar a{
  text-decoration: none;
  margin: 5px;
}
h1{
  font-size: 30px;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  margin-top: inherit;
  text-transform: uppercase;
  color: #FFB500;
  padding: 4px;

}



body{
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9213B2;

}
li{
  float:left;
}
 li a{
  color: #FFB500;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 1em;
}
li a:hover{
  background-color: #CB01FF;
}
